.app {
  position: relative !important;
  background-color: white !important;
}
.header {
  background: cadetblue !important;
  text-align: center;
  color: white !important;
  font-size: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f0f2f5 !important;
}
.content {
  margin-top: 40px;
  padding: 20px 40px
}
.analyze-btns{
  padding: 20px;
display: flex;
justify-content: space-around;
width: 50%;
}
.spinner{
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}